/*#region shapes*/
.triangle {
  top: 0;
  width: 0;
  height: 0;
  border-bottom: 100px solid transparent;
  position: fixed;
  z-index: 0;
}
.triangle--r {
  right: 0;
  border-right: 100px solid black;
}
.triangle--l {
  left: 0;
  border-left: 100px solid black;
}
.circle {
  z-index: 0;
  position: fixed;
  top: 90%;
  height: 100px;
  width: 100px;
  background-color: red;
  border-radius: 50%;
}
.circle--r {
  left: -3%;
}
.circle--l {
  right: -3%;
}
/*#endregion */
