@import "tailwindcss";

@theme {
	--color-pikachu: 255, 230, 40;
	--color-cheek: 230, 40, 40;
	--font-sans: "Inter", sans-serif;
}

@layer base {
	* {
		box-sizing: border-box;
	}

	html {
		font-family: "Ubuntu", sans-serif;
	}
}
